* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}

a {
    text-decoration: none;
}

.button_place {
    position: absolute;
    opacity:0; 
}

img {
    max-width: 100%;
  }

.special_img {
    display: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

/* header */

.header {
    padding-left: calc(50% - 569px);
    padding-right: calc(50% - 560px);
    display: flex;
    justify-content: space-between;
    
    background-color: #222;
}

.left_nav {
    margin-top: 18px;
    margin-bottom: 19px;
}

.right_nav {
    margin-top: 26px;
    margin-bottom: 20px;
}


.searcher {
    margin-left: 41px;
}

/* top */

.top {
    display: flex;
    background-color: #F1E4E6;
}

.brand_info {
    float: right;
    width: 50%;
    display: flex;
    align-self: center;
    padding-top: 290px;
    padding-left: 63.42px;
    padding-bottom: 381px;
    
}

.brand_image {
    float: left;
    width: 50%;
}

.brand_image {
    display: flex;
    justify-content: flex-end;
}

.top_text {
    margin-left: 16px;
    align-items: center;
}

.top_title {
    text-align: left;
    color: #222;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-weight: bold;
}

.top_subtitle {
    color: #222;
    text-align: left;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-weight: bold;
}

.special_word {
    color: #F16D7F;
}


/* main_content content_photo */

.content_photo {
    margin-top: 65px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 96px;
}

.content_photo1 {
    height: 260px;
    background-image: url(img/bgi1.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.content_photo2 {
    height: 260px;
    background-image: url(img/bgi2.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content_photo3 {
    height: 260px;
    background-image: url(img/bgi3.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_photo4 {
    height: 180px;
    background-image: url(img/bgi4.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.long_picture{
    grid-column: span 3;
}


.content_photo_subtitle {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content_photo_title {
    color: #F16D7F;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* main_content title*/

.main_title {
    text-align: center;
    margin-bottom: 49px;
}

.main_h3_title {
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 6px;
    font-weight: bold;
}

.main_subtitle {
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* content_items */

.content_items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.special_image {
    background-color: #F7E4E2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
}

.item_text {
    padding-left: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 16px;
}

.item_subtitle {
    margin-top: 16px;
    margin-bottom: 16px;
    color: #5D5D5D;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.item_title {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-weight: bold;
}

.price {
    color: #F16D7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-weight: bold;
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
}


.footer_button {
    margin-top: 48px;
    margin-bottom: 60px;
    height: 48px;
    width: 212px;
    background: #FFF;
    border-color: #FF6A6A;
    color: #F26376;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-style: solid;

}



@media (min-width: 726px) and (max-width: 1024px) {
    .header {
        padding-left: calc(50% - 351.5px);
        padding-right: calc(50% - 342.5px);
    }

    
    .center {

        padding-left: calc(50% - 367px);
        padding-right: calc(50% - 367px);
    }

    .top {
        padding-left: calc(50% - 367px);
        padding-right: calc(50% - 367px);
        max-width: 734px;
    }
    
    .content_photo {
        margin-top: 65px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 19px;
        margin-bottom: 109px;
    }


    .content_items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .main_title {
        display: flex;
        flex-direction: column;
    }

    .long_picture{
        grid-column: span 2;
    }
}



@media (min-width: 375px) and (max-width: 767px) {

    .header {
        padding-left: calc(50% - 156px);
        padding-right: calc(50% - 156px);
    }

    .left_nav {
        margin-top: 18px;
        margin-bottom: 18px;
    }
    .right_nav {
        margin-top: 25px;
        margin-bottom: 26px;
    }

    .special_img {
        display: initial;
    }

    .default_nav_img {
        display: none;
    }

    

    .brand_image {
        display: none;
    }
    .brand_info {
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
        float: none;
        width: 100%;
        justify-content: center;
    }

    .top {
        padding-left: calc(50% - 131.5px);
        padding-right: calc(50% - 131.5px);
        margin: auto;
        min-height: 363px;
    }

    .top_title {
        font-size: 38px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        font-weight: bold;
    }

    .top_subtitle {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .top_text {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: center;
    }

    .content_photo.center {
        padding-left: calc(50% - 171.5px);
        padding-right: calc(50% - 171.5px);
    }

    .content_photo {
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-bottom: 64px;
    }

    .content_photo1 {
        height: 247px;
    }

    .content_photo2 {
        height: 249px;
    }

    .content_photo3 {
        height: 248px;
    }

    .content_photo4 {
        height: 111px;
    }

    .main_title {
        margin-bottom: 64px;
    }

    .content_items.center {
        padding-left: calc(50% - 179.5px);
        padding-right: calc(50% - 179.5px);
    }

    .content_items {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .content_bgc {
        background-color: #F8F8F8;

    }

    .item_text {
        padding-left: 16px;
        padding-top: 24px;
        padding-bottom: 20px;
        padding-right: 28px;
        
    }


    .pseudo {
        position: relative;
    }


    .item_image:hover {
        -webkit-filter: brightness(0.5);
        filter: brightness(0.5); 
    }

    .pseudo:hover .button_place {
        opacity:1; 
        top: 44%;
        left: 32%;
    }

    .button_basket {
        display: flex;
        align-items: center;
        border-color: #FFFFFF;
        background: none;
    }
    
    .button_place {
        position: absolute;
        opacity:0; 
    }

    .basket {
        padding-top: 11.2px;
        padding-bottom: 8.7px;
        padding-left: 13.5px;
    }

    .title_for_basket {
        margin-left: 11.1px;
        padding-right: 16.3px;
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        
    }

    .footer_button {
        margin-top: 40.6px;
        margin-bottom: 85px;
    }
}